name: Build and Release
on:
  - push
  - pull_request

jobs:
  build:
    name: 'Test'
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout repository'
        uses: actions/checkout@v3
      - name: 'Setup Node'
        uses: actions/setup-node@v3
        with:
          node-version: 22
      - name: 'Install depependencies'
        run: npm install --force
      - name: 'Start containers'
        run: docker-compose up -d
      - name: 'Test'
        run: npm run test
      - name: 'Stop containers'
        if: always()
        run: docker-compose down

  release:
    name: 'Release'
    runs-on: ubuntu-latest
    needs: build
    if: github.event_name == 'push' && (github.ref == 'refs/heads/master' || github.ref == 'refs/heads/next')
    steps:
      - name: 'Checkout repository'
        uses: actions/checkout@v3
      - name: 'Setup Node'
        uses: actions/setup-node@v3
        with:
          node-version: 22
      - name: 'Install depependencies'
        run: |
          npm install --force
      - name: 'Build'
        run: npm run build
      - name: 'Release'
        run: |
          npx semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
